<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %> 	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="./images/banner_autos.png" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<%  for( let i = (lista.length - 4); i < lista.length; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/id/<%= lista[i].producto_id%>">
							<figure class="product-box_image"> 
								<img src="<%= lista[i].nombre_archivo_producto %>" >
							</figure>

							<article class="product-box_data">
								<h2><%= lista[i].nombre_producto %></h2>
								<p><%= lista[i].descripcion_producto %></p>
								<p>Comentarios: <%= lista[i].comentario.length %>  </p>
							</article>
						</a>
					</section>
				</div>
				<% }  
				%>
		</div>
	</div>

			

	<!-- Más vistos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más vistos</h2>
			</div>
			<%  for( let i = 0; i < 4; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/id/<%= lista[i].producto_id%>">
							<figure class="product-box_image">
								<img src="<%= lista[i].nombre_archivo_producto %>" alt="cafetera moulinex">
							</figure>
							<a href="/profile/id/<%= lista[i].usuario_id%>"> <%= lista[i].usuario.email%></a>
							<article class="product-box_data">
								<h2><%= lista[i].nombre_producto %></h2>
								<p><%= lista[i].descripcion_producto %></p>
								<p>Comentarios: falta poner comentario </p>
							</article>
						</a>
					</section>
				</div>
				<% }  
				%>
			</div>
		</div>
	<!-- /Más vistos -->

	<%- include('./partials/footer') %>


</body>	

</html>