<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="login">
			<div class="col-12">
				<h2 class="login-title">Ingresar</h2>
			</div>
			<!--Evitamos que se rompa al mandarlo a una ruta-->
			<h2 class="col-12">
				<div class="lform-container">
				<form class="lform" action="/profile/login" method="POST">
				<!-- <label for="email">Email:</label> -->
				<input class="linput" placeholder="Email" type="email" id="email" name="email" value="<%= locals.old !== undefined && old.email ? old.email: ""%>">
				<% if (locals.errors && errors.email) { %>
					<p class = 'error'>  <%= errors.email.msg %></p> <% } %>
				
				<!-- <label for="contrasenia">Contraseña:</label> -->
				<input class="linput" placeholder="Contraseña" type="password" id="contrasenia" name="contrasenia" >
				<% if (locals.errors && errors.contrasenia) { %>
					<p class = 'error'>  <%= errors.contrasenia.msg %></p> <% } %>
				<div class="recontainer">
				<label for="recordarme" class="reclabel">Recordarme</label>
				<input type="checkbox" class="recinput" id="recordarme" name="recordarme"> <br>
				</div>
				
				
			
				<button class="boton" type="submit">Iniciar Sesión</button>
			</form>
		</div>
			</h2>


			<%- include('./partials/footer') %>
</body>

</html>