<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!--Evitamos que se rompa al mandarlo a una ruta-->
			<h2 class="col-12">
				<form action="/profile/login" method="POST">
				<label for="email">Email:</label>
				<input type="email" id="email" name="email" value="<%= locals.old !== undefined && old.email ? old.email: ""%>"><br>
				<% if (locals.errors && errors.email) { %>
					<p class = 'error'>  <%= errors.email.msg %></p> <% } %>
				
				<label for="contrasenia">Contraseña:</label>
				<input type="password" id="contrasenia" name="contrasenia" ><br>
				<% if (locals.errors && errors.contrasenia) { %>
					<p class = 'error'>  <%= errors.contrasenia.msg %></p> <% } %>
			
				<input type="checkbox" id="recordarme" name="recordarme">
				<label for="recordarme">Recordarme</label><br>
			
				<button type="submit">Iniciar Sesión</button>
			</form>
			</h2>


			<%- include('./partials/footer') %>
</body>

</html>