<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %> 	
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= info.nombre_producto %></h2> 

			<p class="product-detail-description">
				<a href="../product/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src='<%= info.nombre_archivo_producto %>' alt="" class="product-detail-img">
					<a href="/profile/id/<%= info.usuario.id %>" class="product-detail-description">
						<%= info.usuario.email %></a>
					<p class="product-detail-description">
						<%= info.descripcion_producto %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<%  for( let i = 0; i < info.comentario.length; i++ ) { %>
							<article>
								<a href="/profile/id/<%= info.comentario[i].usuario.id %>"><img src="<%= info.comentario[i].usuario.foto_perfil %>" alt=""></a>
								<div class="data">
									<p class="user">
									<strong> <a href="/profile/id/<%= info.comentario[i].usuario.id %>"><%= info.comentario[i].usuario.email %>:</a> </strong>
									<%= info.comentario[i].comentario %></p>
								</div>
							</article>
							<% } %>
							
						
					</section>
					<!--Evitamos que se rompa al mandarlo a una ruta-->
					<% if (locals.user != undefined) { %>
					<form class="form" action="/product/id/<%= info.producto_id %>" method="POST">
						<input class="form-input" type="text" name="comment" placeholder="Agregar comentario">
						<% if (locals.errors && errors.comentario) { %>
							<p class = 'error'>  <%= errors.comentario.msg %></p> <% } %>
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						
					</form>
					<% } else { %>
						<p>Debes estar logueado para comentar</p>
						<% } %>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<%- include('./partials/footer') %>

</body>	
</html>