<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="login-title">Agregar productos</h2>
			</div>
			
			<h2 class="col-12"> 
				<!--Evitamos que se rompa al mandarlo a una ruta-->
				<div class="pform-container">
					<form class="lform" action="/product/add" method="POST" >
						<!-- <label for="imagen">Imagen:</label> -->
						 <!-- PUEDEN PONER UNA FOTO DE GOOGLE (COPY/PASTE IMAGE ADDRESS) -->
						<input placeholder="Imagen" class="linput" type="text" id="imagen" name="imagen" value="<%= locals.old !== undefined && old.imagen ? old.imagen: "" %>"><br>
						<% if (locals.errors && errors.imagen) { %>
						<p class = 'error'>  <%= errors.imagen.msg %></p> <% } %>
					
						<!-- <label for="nombre_producto">Nombre del producto:</label> -->
						<input placeholder="Nombre del producto" class="linput" type="text" id="nombre_producto" name="nombre_producto" value="<%= locals.old !== undefined && old.nombre_producto ? old.nombre_producto: "" %>"><br>
						<% if (locals.errors && errors.nombre_producto) { %>
						<p class = 'error'> <%= errors.nombre_producto.msg %></p> <% } %>
							
	
						<!-- <label for="descripcion">Descripción:</label> -->
						<input placeholder="Descripción" class="linput" type="text" id="descripcion" name="descripcion" value="<%= locals.old !== undefined && old.descripcion ? old.descripcion: "" %>"><br>
						<% if (locals.errors && errors.descripcion) { %>
						<p class = 'error'> <%= errors.descripcion.msg %></p> <% } %>
					
						<button class="boton" type="submit">Agregar Producto</button>
					</form>
				</div>
				

				
			<%- include('./partials/footer') %>
</body>

</html>