<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="login-title">Modificar Productos</h2>
			</div>
			
			<h2 class="col-12">
				<!--Evitamos que se rompa al mandarlo a una ruta-->
				<div class="pform-container">
				<form class="lform" action="/product/edit/<%= info.producto_id %>" method="POST" >
					<label for="imagen">Imagen:</label>
					<!-- PUEDEN PONER UNA FOTO DE GOOGLE (COPY/PASTE IMAGE ADDRESS) -->
					<input class="linput" type="text" id="imagen" name="imagen" value="<%= info.nombre_archivo_producto %>"><br>
					<% if (locals.errors && errors.imagen) { %>
					<p class = 'error'>  <%= errors.imagen.msg %></p> <% } %>
				
					<label for="nombre_producto">Nombre del producto:</label>
					<input class="linput" type="text" id="nombre_producto" name="nombre_producto" value="<%= info.nombre_producto %>"><br>
					<% if (locals.errors && errors.nombre_producto) { %>
					<p class = 'error'> <%= errors.nombre_producto.msg %></p> <% } %>
						

					<label for="descripcion">Descripción:</label>
					<input class="linput" type="text" id="descripcion" name="descripcion" value="<%= info.descripcion_producto%>" ><br>
					<% if (locals.errors && errors.descripcion) { %>
					<p class = 'error'> <%= errors.descripcion.msg %></p> <% } %>
				
					<button class="boton" type="submit">Guardar Cambios</button>
				</form>
			</div>
				
			<%- include('./partials/footer') %>
</body>

</html>