<%- include('./partials/head') %>

<body>
<!-- Header -->
<%- include('./partials/header') %>
<!-- /Header -->

<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="login-title">Registrate</h2>
			</div>
			<h2 class="col-12">
				<div class="rform-container">
				<form class="lform" action="/profile/register" method="POST" class="registration-form">
					<label for="email">Email:</label>
					<input class="linput" type="email" id="email" name="email" value="<%= locals.old !== undefined && old.email ? old.email: ""%>"><br>
					<% if (locals.errors && errors.email) { %>
						<p class='error'>
							<%= errors.email.msg %>
						</p>
						<% } %>

					<label for="usuario">Usuario:</label>
					<input class="linput" type="text" id="nombre_usuario" name="nombre_usuario" value="<%= locals.old !== undefined && old.nombre_usuario ? old.nombre_usuario: ""%>"><br>
					<% if (locals.errors && errors.nombre_usuario) { %>
						<p class='error'>
							<%= errors.nombre_usuario.msg %></p>
					<% } %>

					<label for="contrasenia">Contraseña:</label>
					<input class="linput" type="password" id="contrasenia" name="contrasenia"><br>
					<% if (locals.errors && errors.contrasenia) { %>
						<p class='error'><%= errors.contrasenia.msg %></p>
					<% } %>

					<label for="fecha_nacimiento">Fecha de nacimiento:</label>
					<input class="linput" type="date" id="fecha_nacimiento" name="fecha_nacimiento"><br>

					<label for="dni">Nro de documento:</label>
					<input class="linput" type="number" id="dni" name="dni" value="<%= locals.old !== undefined && old.dni ? old.dni: ""%>"><br>
			
					<!-- PUEDEN PONER UNA FOTO DE GOOGLE (COPY/PASTE IMAGE ADDRESS) -->
					<label for="foto_perfil">Foto de perfil:</label>
					<input class="linput" type="text" id="foto_perfil" name="foto_perfil"><br>

					<button class="boton" type="submit">Registrarse</button>
				</form>
			</div>
			</h2>
			<!-- <p>ultimo usuario creado: <%= //locals.register.email %> </p>  -->
			<%- include('./partials/footer') %>
	</body>

	</html>